@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://allfont.net/allfont.css?fonts=raleway-black);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif
}

a {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  transition: all .4s;
  text-decoration: none;
}

a:focus {
  outline: none !important
}

a:hover {
  text-decoration: none;
  color: #d33f8d
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0
}

ul,
li {
  margin: 0;
  list-style-type: none
}

input {
  outline: none;
  border: none
}

textarea {
  outline: none;
  border: none
}

textarea:focus,
input:focus {
  border-color: transparent !important
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

input:focus:-moz-placeholder {
  color: transparent
}

input:focus::-moz-placeholder {
  color: transparent
}

input:focus:-ms-input-placeholder {
  color: transparent
}

textarea:focus::-webkit-input-placeholder {
  color: transparent
}

textarea:focus:-moz-placeholder {
  color: transparent
}

textarea:focus::-moz-placeholder {
  color: transparent
}

textarea:focus:-ms-input-placeholder {
  color: transparent
}

input::-webkit-input-placeholder {
  color: #acacac
}

input:-moz-placeholder {
  color: #acacac
}

input::-moz-placeholder {
  color: #acacac
}

input:-ms-input-placeholder {
  color: #acacac
}

textarea::-webkit-input-placeholder {
  color: #acacac
}

textarea:-moz-placeholder {
  color: #acacac
}

textarea::-moz-placeholder {
  color: #acacac
}

textarea:-ms-input-placeholder {
  color: #acacac
}

button {
  outline: none !important;
  border: none;
  background: 0 0
}

button:hover {
  cursor: pointer
}

iframe {
  border: none !important
}

.txt1 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #999;
  line-height: 1.4
}

.bo1 {
  border-bottom: 1px solid #999
}

.hov1:hover {
  border-color: #d33f8d
}

.container-fluid {
  width: 100%;
  margin: 0 auto
}

.login__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #0250c5;
  background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
  background: linear-gradient(bottom, #0250c5, #d43f8d);
  position: relative;
  z-index: 1
}

.login__container::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('https://colorlib.com/etc/lf/Login_v11/images/img-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.login__form {
  width: 450px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  padding: 77px 50px 30px ;
}

.login__form--input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.login__form--title {
  font-family: 'Raleway Black', arial;
  font-weight: 900;
  font-size: 30px;
  color: #333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 48px;
}

.login__form--user {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 18px;
}

.login__form--email,
.login__form--password {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #686868;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 62px;
  border-radius: 3px;
  padding: 0 30px 0 65px;
}

.login__form--focus {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 0;
  color: rgba(211, 63, 141, .6);
}

.login__form--email:focus+.login__form--focus,
.login__form--password:focus+.login__form--focus {
  -webkit-animation: anim-shadow .5s ease-in-out forwards;
  animation: anim-shadow .5s ease-in-out forwards
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0 0 60px 20px;
    opacity: 0
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0 0 60px 20px;
    opacity: 0
  }
}

.login__form--symbol {
  font-size: 24px;
  color: #999;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none;
  transition: all .4s
}

.login__form--email:focus+.login__form--focus+.login__form--symbol,
.login__form--password:focus+.login__form--focus+.login__form--symbol {
  color: #d33f8d;
  padding-left: 18px
}

.login__checkbox--input {
  display: none
}

.login__checkbox--label {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #999;
  line-height: 1.2;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  margin-bottom: 18px;
}

.login__checkbox--label::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #d33f8d;
  left: 0;
  top: 48%;
  transform: translateY(-50%)
}

.login__checkbox--input:checked+.login__checkbox--label::before {
  color: #d33f8d
}

.login__btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 24px;
}

.login__btnSubmit {
  font-family: 'Raleway Black', arial;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 62px;
  border-radius: 3px;
  background: #d33f8d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s
}

.login__btnSubmit:hover {
  background: #333
}

.login__form--text{
  display: flex;
  text-align: center;
  justify-content: center;
}

.login__form--social-btn{
  display: flex;
  margin-top: 32px;
  margin-bottom: 128px;
}

.btn-face,
.btn-google {
  font-family: 'Raleway Black', arial;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  margin: 0 10px;
}

.btn-face {
  color: #3b5998
}

.btn-face i {
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 1px
}

.btn-google {
  color: #555
}

.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px
}

.btn-face:hover,
.btn-google:hover {
  border-color: #d33f8d
}

.login__form--social-text{
  bottom: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

.validate-input {
  position: relative
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
  font-family: 'Raleway', sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -moz-transition: opacity .4s;
  transition: opacity .4s
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1
}

@media(max-width:992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1
  }
}

@media(max-width:480px) {
  .login__container {
    padding-left: 15px;
    padding-right: 15px
  }
}